@import "partial/std-formatting.scss";

body{
    @include reset();
    background-image: url(../pictures/background/background-pic.jpg);
}

.my-body-noscroll-class {
    overflow: hidden;
}

.is-hidden{
    display: none;
}

.wrapper{
    @include reset();

    width: 70%;
    margin-left: 15%;
    margin-right: 15%;

    background-color: #1C4B7F
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 1;
    background-color: #000;
  }
  
  .higher-index {
    z-index: 3;
  }

header{
    @include formatting();
    padding: 10px;

    h1{
        @include reset();
        font-size: 52px;
    }
}

.header-nav{
    @include reset();

    ul{
        @include reset();
        margin: 1%;

        display: inline-block;
        list-style-type: none;
    }
    li{
        
        display: inline-block;
        background-color: #425F7F;
        padding: 5px;
        transition-property: background-color, color;
        transition-duration: 0.5s;

        &:hover{
            background-color: #84BFFF;
        
            a{
                color: #1C4B7F;
            }
        }
    }
    a{
        @include formatting();

        text-decoration: none;
    }
}

nav{
    @include reset();

    background-color: #425F7F;
    text-align: center;

    margin-top: -5%;

    ul{
        @include reset();
        margin: 1%;

        display: inline-block;
        list-style-type: none;
    }
    li{
        
        display: inline-block;
        background-color: #425F7F;
        padding: 5px;
        transition-property: background-color, color;
        transition-duration: 0.5s;

        &:hover{
            background-color: #84BFFF;
        
            a{
                color: #1C4B7F;
            }
        }
    }
    a{
        @include formatting();

        text-decoration: none;
    }
}

section{
    @include reset();
    @include formatting();
    
    padding: 10px;
    margin: 5%;

    width: 85%;
    height: 300px;
    background-color: #2C79CC;

    img{
        float: left;
    }

    

    .buchen{
        float: right;
    }
}

.login-Moodle{
    @include reset();
    @include formatting();

    position: fixed;
    top: 30%;
    left: 40%;
    right: 40%;
    z-index: 2;
    height: 400px;
    width: 300px;

    background-color: #2C79CC;
    color: white;
    
    h1{
        text-align: center;
        margin-right: 0;
    }

    p{
        margin-left: 20%;
    }

    .pw-forgot{
        a{
            color: rgb(0, 0, 238);
            text-decoration: none;
            transition-property: color, text-decoration;
            transition-duration: 0.2s;

            &:hover{
                color: white;
                text-decoration: underline;
            }
        }
    }
}

.login-pos{
    margin-top: 5%;
}

.std-button{
    background-color: #425F7F;
    color: white;
    border: 2px solid white;
    padding: 5px;

    transition-property: color, background-color, border;
    transition-duration: 0.5s;

    &:hover{
        background-color: white;
        color: #425F7F;
        border: 2px solid #425F7F;
    }
}

.close-button{
    margin: -3%;
    height: 24px;
    width: 27px;
    font-size: 17px;

    color: white;
    background-color: #425F7F;
    float: right;
    border: 2px solid #425F7F;
    border-radius: 50%;
    transition-property: color, background-color, border;
    transition-duration: 0.5s;

    &:hover{
        background-color: white;
        border: 2px solid #425F7F;
        color: #425F7F;
    }
}

.signUp-Moodle{
    @include reset();
    @include formatting();

    position: fixed;
    top: 30%;
    left: 40%;
    right: 40%;
    z-index: 2;
    height: 400px;
    width: 300px;

    background-color: #2C79CC;
    color: white;
    
    h1{
        text-align: center;
        margin: 2%;
        
    }

    p{
        margin: 0;
        margin-left: 20%;
    }
}