@import "../../partial/std-formatting.scss";

body{
    @include reset();
    background-image: url(../pictures/background/background-pic.jpg);
}

.my-body-noscroll-class {
    overflow: hidden;
}

.is-hidden{
    display: none;
}