@import "../../partial/std-formatting.scss";

header{
    @include formatting();
    padding: 10px;

    h1{
        @include reset();
        font-size: 52px;
    }
}

.header-nav{
    @include reset();

    ul{
        @include reset();
        margin: 1%;

        display: inline-block;
        list-style-type: none;
    }
    li{
        
        display: inline-block;
        background-color: #84BFFF;
        padding: 5px;
        border: 1px solid transparent;
        border-radius: 3px;
        transition-property: background-color, color, border;
        transition-duration: 0.5s;

        a{
            color: #425F7F;
        }

        &:hover{
            background-color: #1C4B7F;
            border: 1px solid #84BFFF;
        
            a{
                color: #84BFFF;
            }
        }
    }
    a{
        @include formatting();

        text-decoration: none;
    }
}